# local material

# temporary files
*~
*.swp
*.*-swp
*.tmp.*

# ignore files
*.ign.*

# latex trash and temp files
*.aux
*.log
*.nav
*.out
*.snm
*.toc

# office files
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# exclude pdf, except as image or in special directories
*.pdf
!planung/*.pdf    # allow pdfs in directory "planung"
!documentation/projektplan/media/*.pdf
!material/*.pdf

# mac trash
.DS_Store

# linux trash
*.lock
*.bak

# ide trash
/.idea/
