#accountView .content {
	ul.userList {
		& > li > a {
			.flex; .flex-flow(row); .justify-content(space-between); .align-items(center); .align-content(stretch);
			.listElement;

			& > div { display: block; }

			img.image {
				display: block;
				width: 3em; height: 3em;
				background-size:cover; background-position: top center; background-repeat: no-repeat;
			}
			.userInfo {
				width: 100%; padding: 0.5em; margin-left: 1em;
				text-align: left;

				span {
					&.username { font-weight: bold; }

					display: block; padding: 0.1em 0;
				}
			}
			.operations > * {
				height: 100%;
			}
		}
	}

}