#accountView {
	ul {
		& > li > a {
			.flex; .flex-flow(row); .justify-content(space-between); .align-items(center); .align-content(stretch);
			padding: @elementPadding;
			.background-linear-gradient(white, gainsboro);
			border-bottom: 0.05em solid silver;
			color: black; text-decoration: none;
			
			.userImage {
				width: 3em; height: 3em;
				text-align: center;
				overflow: hidden;
				
				img {
					height: 3em;
					margin: 0 -100%;
				}
			}
			.userInfo {
				width: 100%; padding: 0.5em; margin-left: 1em;
				text-align: left;

				span {
					display: block; padding: 0.1em 0;
					
					&.username { font-weight: bold; }
				}
			}
			.operations > button {
				height: 100%;
			}
		}
	}

}