#accountView {
	ul {
		& > li > a {
			.flex; .flex-flow(row); .justify-content(space-between); .align-items(center); .align-content(stretch);
			padding: @elementPadding;
			.background-linear-gradient(white, gainsboro);
			border-bottom: 0.05em solid silver;
			color: black; text-decoration: none;

			img {
				max-height: 3em; max-width: 3em;
			}
			.userInfo {
				width: 100%; padding: 0.5em; margin-left: 1em;
				text-align: left;

				span {
					&.username { font-weight: bold; }

					display: block; padding: 0.1em 0;
				}
			}
			.operations > button {
				height: 100%;
			}
		}
	}

}