@elementPadding: 0.5em;
@lementMargin: 0.5em;

* {
	.box-sizing(border-box);
}

/* container */
span { display: inline-block; }
html, body {
	width: 100%; height: 100%; overflow: hidden;
	font-family: Ubuntu, Arial, Helvetica, sans-serif; font-size: 1em; color: black;
}

/* page */
.page {
	.flex; .flex-flow(column); .justify-content(space-between); .align-items(stretch);
	width: 100%;
	height: 100%;

	.content {
		height: 100%;
		overflow-y: scroll;
	}

	footer {
		.background-linear-gradient(rgb(40,40,40), black);
		border-top: 0.2em solid teal;
		padding: @elementPadding;
	}

	header {
		.background-linear-gradient(rgb(40,40,40), black);
		border-bottom: 0.2em solid teal;
		padding: @elementPadding;
	}
}
