#localVideo { width: 10em; height: auto; }


/** content */
.panel { padding: 0.5em; background: rgb(50,50,50); color: white; }
.panel h2 { color: white; vertical-align: middle; }

#phone { width: 60%; }
#addressbook { width: 40%; background: silver; padding: 0; }

video { background: black; }

.fullScreen { display: inline-block; cursor: pointer; }

.controlls form { display: inline-block; padding: 0.25em; }
.controlls form input { height: 2em; }


/* font */
h1 { padding: 0.25em; font-size: 1.5em; text-shadow: 0 0 0.25em cornflowerblue; text-transform:uppercase;
	font-weight: bold; }


/* img */
#logo { height: 0.8em; width: auto; display: inline-block; padding: 0.1em; background: white; border-radius: 0.25em; }


/** buttons */
input[type="button"], .button { border: 1px solid rgb(0,50,0); border-radius: 0.5em; background: seagreen;
	background: linear-gradient(mediumseagreen, darkgreen); color: white; font-weight: bold; padding: 0.25em 1em;
	box-shadow: 0 0 0.25em darkslategray; }
input[type="button"]:hover, .button:hover { background: linear-gradient(rgb(45,165,100), rgb(0,85,0)); }
input[type="button"]:active, .button:hover { background: linear-gradient(rgb(20,115,60), rgb(0,75,0)); }
input[type="button"][disable="disable"], .button[disable="disable"] { background: white;
	background: linear-gradient(white,silver); color: gray; border: 1px solid gray; box-shadow: none; }
input[type="button"].error, .button.error { background: red; background: linear-gradient(red,maroon); border: 1px solid maroon; }

input.hangUp { background: red; background: linear-gradient(red, maroon); }
input.hangUp:hover { background: maroon; background: linear-gradient(brown, rgb(100,0,0)); }