#phoneView {
	color: white;

	#localVideo {
		width: 10em;
		height: auto;
		position: absolute;
		z-index: 100;
		box-shadow: 0px 0px 1em black;
		margin: 0.5em;
		border: 0.25em solid black;
		border-radius: 0.25em;
		transform: scaleX(-1);
	}

	.content {
		background: black;
	}
}