<div class="page" id="accountView">
	<ul>
		<li data-ng-repeat="user in accountManager.users" data-ng-click="login(user)">
			<div class="userImage">
				<img data-ng-if="user.photo" data-ng-src="data:image/png;base64,{{user.photo}}" src="Resources/Img/person.png" alt="">
				<img data-ng-if="!user.photo" src="Resources/Img/person.png" alt="">
			</div>
			<div class="userInfo">
				<span class="username">{{user.username}}</span>
				<span class="name">{{user.firstname}} {{user.lastname}}</span>
			</div>
			<div class="operations">
				<button class="button red" data-ng-click="deleteUser(user)"><span class="icon-batch">&#xf155;</span> Delete</button>
			</div>
		</li>
	</ul>
	<footer class="operationPanel">
		<button class="button green" data-ng-click="addUser()"><span class="icon-liga">&#xe108;</span> Add user account</button>
		<button class="button green" data-ng-click="resetToDummies()"><span class="icon-liga">&#xe133;</span> Reset users to dummy users</button>
	</footer>
</div>