<div class="page" id="contactView">
	<header class="operationPanel">
		<div class="dropDown" id="contactbookList" data-ng-if="contactbooks.length > 0">
			<button class="dropDownIcon"><span class="icon-liga">&#xe12a;</span></button>
			<ul class="dropDownContent">
				<li data-ng-click="open(contactbook)" data-ng-repeat="contactbook in contactbooks">
					<span class="icon-liga">&#xe05c;</span>&nbsp; {{contactbook.name}}
				</li>
			</ul>
		</div>
		<a class="button" href="#/import/contactbook"><span class="icon-liga">&#xe108;</span> import</a>
		<a class="button" href="#/settings"><span class="icon-liga">&#xe055;</span></a>
		<a class="button" href="#/"><span class="icon-liga">&#xe051;</span></a>
		<h2 data-ng-if="currentContactbook && currentContactbook.name">
			<span class="icon-liga">&#xe05c;</span>&nbsp;{{currentContactbook.name}}
		</h2>
	</header>
	<div class="content" data-ng-if="currentContactbook">
		<div class="entry" data-ng-repeat="contact in currentContactbook.data">
			<div class="userImage">
				<img data-ng-if="contact.photo" data-ng-src="data:image/png;base64,{{contact.photo}}" src="Resources/Img/person.png" alt="">
				<img data-ng-if="!contact.photo" src="Resources/Img/person.png" alt="">
			</div>
			<div class="right">
				<div class="userInfo">
					<span class="name">{{contact.name}}</span>
				</div>
				<div class="callOperations">
					<button data-ng-click="call(channelAccount.channel, channelAccount.userId)" class="call button green" data-ng-repeat="channelAccount in contact.channelAccounts">
						<span class="icon-liga">&#xe100;</span>&nbsp;by {{channelAccount.channel.name}}
					</button>
				</div>

			</div>
		</div>
	</div>
</div>