<div class="page" id="phoneView">
	<div class="content" id="contentPanel">
		<div class="videoFrame" id="videoPanel">
			<video id="localVideo" autoplay muted></video>
			<video id="remoteVideo" autoplay></video>
		</div>
		<div id="chat">
			<div class="chatMessages">
				<p data-ng-repeat="message in chatmessages">
					<span class="time">{{message.time}}</span>
					<span class="message">{{message.text}}</span>
				</p>
			</div>
			<form data-ng-submit="sendMessage()">
				<input data-ng-model="chatmessage" type="text" />
				<input class="button green" type="submit" value="send" />
			</form>
		</div>
	</div>
	<footer>
		<div class="operations">
			<button class="button blue" data-ng-click="fullscreen()">
				<span class="icon-liga">&#xe053;</span>
			</button>
			<button class="button red" data-ng-click="hangup()">
				<span class="icon-liga">&#xe100;</span>
			</button>
			<!--<button class="button blue">Chat</button>-->
		</div>
		<dl class="informationPanel">
			<dt>duration</dt>
			<dd>{{passedTime}}</dd>
			<dt>started</dt>
			<dd>{{startTime | date:'HH:mm'}}</dd>
		</dl>
	</footer>
</div>